@model (List<TestDTO> tests,UserEditViewModel user,List<List<TestDTO>> categories)
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link rel="stylesheet" href="/css/template/slider.css">
<link rel="stylesheet" href="/css/template/carousel.css">
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Hoş geldin @Model.user.UserName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="~/people.svg" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">
                            <div>
                                <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                            </div>
                            <div class="ml-2">
                                <h4 class="location font-weight-normal">Senin İçin Seçtiğimiz</h4>
                                <h6 class="font-weight-normal">Test</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin transparent">
            <div class="row">


                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <a asp-action="AllQuestions" asp-controller="Question" style="text-decoration:none; color:inherit;">
                            <div class="card-body">
                                <p class="mb-4">Sorularım</p>
                                @*   <p class="fs-30 mb-2">4006</p>
                                <p>10.00% (30 days)</p> *@
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <a asp-action="AllQuestions" asp-controller="Question" style="text-decoration:none; color:inherit;">
                            <div class="card-body">
                                <p class="mb-4">Testlerim</p>@*
                                <p class="fs-30 mb-2">61344</p>
                                <p>22.00% (30 days)</p> *@
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                @*  <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                <a asp-action="AllQuestions" asp-controller="Question" style="text-decoration:none; color:inherit;">
                <div class="card-body">
                <p class="mb-4">Testlerini Çözen Kişi Sayısı</p>
                <p class="fs-30 mb-2">34040</p>
                <p>2.00% (30 days)</p>
                </div>
                </a>
                </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                <a asp-action="AllQuestions" asp-controller="Question" style="text-decoration:none; color:inherit;">
                <div class="card-body">
                <p class="mb-4">Bağlantıların</p>
                <p class="fs-30 mb-2">47033</p>
                <p>0.22% (30 days)</p>
                </div>
                </a>
                </div>
                </div> *@
            </div>
        </div>
    </div>

    <div class="row">
        <section class="testcard-section">
            <h2 class="line-title">Trend Testler</h2>
            <div class="owl-carousel custom-carousel owl-theme">
                @foreach (var item in Model.tests)
                {                   
                    <div class="item" style="background-image: url(data:image/jpeg;base64,@item.PictureUrl);">
                        <div class="item-desc">
                            <h3>@item.Name</h3>
                            <p>@item.Creater?.UserName </p>
                        </div>
                        <!-- ONAY BUTONU -->
                        <div class="wrappertestbutton">
                            <a asp-controller="Quiz" asp-action="Test" asp-route-id="@item.Id" style="text-decoration:none;">
                                <div class="starttestbutton" onclick="document.body.classList.add('active')">
                                    <span class="starttestbutton-text">Testi Başlat</span>
                                    <div class="starttestbutton-backgrounds"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<div class="content-wrapper">
    @foreach (var category in Model.categories)
    {
        <div class="categoryname-container">
            <h1>@category[0].TestCategoryDescription</h1>
            @* <a>Daha Fazla</a> *@
        </div>
        <div class="carousel2__container">
            @foreach (var item in category)
            {
                <div class="carousel2-item">
                    <a asp-controller="Quiz" asp-action="Test" asp-route-id="@item.Id" style="text-decoration:none;">
                        @if (string.IsNullOrEmpty(item.PictureUrl))
                        {
                            <img class="carousel2-item__img"
                                 src="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"
                                 alt="QuizImage" />
                        }
                        else
                        {
                            <img class="carousel2-item__img"
                                 src="data:image/jpeg;base64,@item.PictureUrl"
                                 alt="QuizImage" />
                        }
                        <div class="carousel2-item__details">
                            <div class="controls">
                            </div>
                            <h6 class="carousel2-item__details--title">
                                @item.Name
                            </h6>
                            <h6 class="carousel2-item__details--subtitle">@item.Creater?.UserName</h6>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>
<script>
    $(".custom-carousel").owlCarousel({
        autoWidth: true,
        loop: true
    });
    $(document).ready(function () {
        $(".custom-carousel .item").click(function () {
            $(".custom-carousel .item").not($(this)).removeClass("active");
            $(this).toggleClass("active");
        });
    });

</script>