@{
    ViewData["Title"] = "PasswordChange";
    Layout = null;
}

@model (PasswordChangeViewModel pcVM,string userId);

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/x-icon" href="~/adminkit-3.1.0/static/img/icons/logo.ico" />

    <title>Quick Quiz | Şifre Yenile</title>

    <link href="~/adminkit-3.1.0/static/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="text-primary">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        <br /><br />
                        <div class="card">
                            <div class="text-center mt-4">
                                <h3 class="h3">Şifre Yenile</h3>
                            </div>
                            <div class="card-body">
                                <div class="m-sm-2">
                                    <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                                    </div>

                                    <form asp-controller="Home" asp-action="PasswordChange" method="post">

                                        <input asp-for="@Model.pcVM.PasswordOld" name="PasswordOld" value="GeciciSifre123" class="form-control" hidden>
                                        <input asp-for="@Model.userId" name="userId" class="form-control" value="@Model.userId" hidden>
                                        <input asp-for="@Model.pcVM.Token" name="Token" class="form-control" value="@Model.pcVM.Token" hidden>
                                        <div class="row mb-3">
                                            <label for="@Model.pcVM.PasswordNew" class="col-md-4 col-form-label" asp-for="@Model.pcVM.PasswordNew"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@Model.pcVM.PasswordNew" name="PasswordNew" class="form-control">
                                                <span asp-validation-for="@Model.pcVM.PasswordNew" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="@Model.pcVM.PasswordNewConfirm" class="col-md-4 col-form-label" asp-for="@Model.pcVM.PasswordNewConfirm"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@Model.pcVM.PasswordNewConfirm" name="PasswordNewConfirm" class="form-control">
                                                <span asp-validation-for="@Model.pcVM.PasswordNewConfirm" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-8 offset-md-4">
                                                <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/adminkit-3.1.0/static/js/app.js"></script>

</body>

</html>