@using QuickQuiz.Core.Model;
@{
    ViewData["Title"] = "Soru Oluştur";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model QuestionDTO

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test Oluşturma</title>
    <style type="text/css">
        .questionBody {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f7f7f7;
            font-family: verdana, sans-serif;
        }

        .questionForm {
            width: 100%; /* Genişliği % olarak ayarlandı */
            max-width: 1200px; /* En fazla genişlik 800px olarak ayarlandı */
            margin: 0 auto; /* Form tam genişlikte ekran ortasında yer alacak şekilde ayarlandı */
            padding: 40px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }

        .close-btn {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            background-color: #ccc;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin-right: -30px;
            margin-left: 35px;
            padding: 0;
        }

            .close-btn:hover {
                cursor: pointer;
                background-color: #ff0000;
            }

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: vertical;
        }

        .options-container {
            margin: 0;
            padding: 0;
        }

        .option {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .option-input-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .option-btn {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: none;
            background-color: #ddd;
            color: #333;
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }

            .option-btn:hover {
                cursor: pointer;
                background-color: #ffa500;
                color: white;
            }

            .option-btn.selected {
                background-color: green;
                color: white;
            }

            .option-btn:not(.selected):hover {
                background-color: #ffa500;
                color: white;
            }

        .option-textarea-wrapper {
            flex-grow: 1;
            margin-left: 10px;
        }

        .option-textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: vertical;
        }

        input[type="submit"] {
            display: block;
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #3e8e41;
            }
    </style>
</head>
<div class="questionBody">
    <form id="test-form" class="questionForm" method="post" asp-action="Add" asp-controller="Question">
        <h2 style="text-align: center;"><strong>Sorunuzu bu alana yazınız</strong></h2>
        <textarea id="question" asp-for="@Model.Question" rows="4" required></textarea><br /><br />
        <h2 style="text-align: center;"><strong>Cevaplar</strong></h2>
        <div class="options-container">
            <div class="option">
                <div class="option-input-wrapper" id="question1">
                    <button type="button" class="option-btn" data-option="A">A</button>
                    <div class="option-textarea-wrapper" style="margin-right: 25px">
                        <textarea class="option-textarea"
                                  asp-for="@Model.Answers"                                  
                                  required></textarea>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question2">
                    <button type="button" class="option-btn" data-option="B">B</button>
                    <div class="option-textarea-wrapper" style="margin-right: 25px">
                        <textarea class="option-textarea"
                                  asp-for="@Model.Answers"
                                  required></textarea>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question3">
                    <button type="button" class="option-btn" data-option="C">C</button>
                    <div class="option-textarea-wrapper">
                        <textarea class="option-textarea" asp-for="@Model.Answers"></textarea>
                    </div>
                    <button type="button"
                            class="close-btn"
                            onclick="removeQuestion(this)">
                        X
                    </button>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question4">
                    <button type="button" class="option-btn" data-option="D">D</button>
                    <div class="option-textarea-wrapper">
                        <textarea class="option-textarea" asp-for="@Model.Answers"></textarea>
                    </div>
                    <button type="button"
                            class="close-btn"
                            onclick="removeQuestion(this)">
                        X
                    </button>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question5">
                    <button type="button" class="option-btn" data-option="E">E</button>
                    <div class="option-textarea-wrapper">
                        <textarea class="option-textarea" asp-for="@Model.Answers"></textarea>
                    </div>
                    <button type="button"
                            class="close-btn"
                            onclick="removeQuestion(this)">
                        X
                    </button>
                </div>
            </div>
            <div>
                <button type="button" style="float: right" onclick="addQuestion()">
                    Soru Ekle
                </button>
            </div>
        </div>
        <input type="hidden"
               id="selected-answer"
               asp-for="@Model.TrueAnswer"
               required />
        <br /><br />
        <input type="submit" value="Testi Kaydet" />
    </form>

    <script type="text/javascript">
        const optionButtons = document.querySelectorAll(".option-btn");
        let questionsDiv = document.querySelectorAll(
            `#question1,#question2,#question3,#question4,#question5`
        );
        for (i = 3; i < 5; i++) {
            questionsDiv[i].style.display = "none";
        }

        let addQuestion = () => {
            let control = false;
            for (i = 0; i < 5; i++) {
                if (questionsDiv[i].style.display === "none") {
                    questionsDiv[i].style.display = "";
                    control = true;
                    break;
                }
            }
            if (!control) {
                alert("En fazla 5 cevap ekleyebilirsiniz.");
            }
        };

        function removeQuestion(btn) {
            const questionDiv = btn.parentNode;
            const textarea = questionDiv.querySelector(".option-textarea");
            const selectedButton = document.querySelector(
                `.option-btn.selected[data-option="${btn.previousElementSibling.dataset.option}"]`
            );
            // let button= questionDiv.querySelector(".option-btn");
            let buttonIsSelected = questionDiv.querySelector(
                ".option-btn.selected"
            );
            if (buttonIsSelected != null) {
                document.getElementById("selected-answer").value = "";
                buttonIsSelected.classList.remove("selected");
            }
            textarea.value = "";
            questionDiv.style.display = "none";
        }
        let selectedAnswerDiv;
        optionButtons.forEach((button) => {
            button.addEventListener("click", () => {
                // Tüm şık butonlarının seçim durumunu kaldır
                optionButtons.forEach((button) => {
                    button.classList.remove("selected");
                });

                // Seçilen şık butonuna seçildiğini işaretle
                button.classList.add("selected");
                const selectedAnswerInput = document.getElementById("selected-answer");
                selectedAnswerDiv = button.parentNode;

                // Seçilen şık butonunun verisini sakla
                selectedAnswerInput.value = selectedAnswerDiv.querySelector(".option-textarea").value;
            });

            // Formu sunucuya göndermeden önce, doğru cevabın seçildiğinden emin ol
            const form = document.getElementById("test-form");
            form.addEventListener("submit", (event) => {
                const selectedAnswerInput =
                    document.getElementById("selected-answer");
                let buttonIsSelected = document.querySelector(".option-btn.selected");
                let selectedDiv;
                if (buttonIsSelected != null) {
                    selectedDiv = buttonIsSelected.parentNode;
                } else {
                    event.preventDefault();
                    return false;
                }
                selectedAnswerInput.value = selectedDiv.querySelector(".option-textarea").value;
                if (selectedAnswerInput.value === "") {
                    // alert("Lütfen doğru cevabı seçin.");
                    event.preventDefault();
                    return false;
                } else if (
                    selectedDiv.querySelector(".option-textarea").value === "" || selectedDiv.querySelector(".option-textarea").value === null
                ) {
                    // alert("Doğru cevap alanını boş bırakamazsınız");
                    event.preventDefault();
                    return false;
                }

            });
        });
    </script>
</div>
</html>

