@using QuickQuiz.Core.Model;
@{
    ViewData["Title"] = "Soru Oluştur";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model QuestionDTO

<head>
    <link href="~/css/addQuestion.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <title>Soru Oluşturma</title>

</head>
<div class="alert alert-secondary" role="alert" hidden>
</div>
<div class="questionBody">
    <form id="test-form" class="questionForm" method="post" asp-action="Add" asp-controller="Question">
        
        <h2 style="text-align: center;"><strong>Sorunuzu bu alana yazınız</strong></h2>
        <textarea id="question" asp-for="@Model.Question" rows="4" required></textarea><br /><br />
        <h2 style="text-align: center;"><strong>Cevaplar</strong></h2>
        <div class="options-container">
            <div class="option">
                <div class="option-input-wrapper" id="question1">
                    <button type="button" class="option-btn" data-option="A">A</button>
                    <div class="option-textarea-wrapper" style="margin-right: 25px">
                        <textarea class="option-textarea"
                                  asp-for="@Model.Answers[0].AnswerText"
                                  required></textarea>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question2">
                    <button type="button" class="option-btn" data-option="B">B</button>
                    <div class="option-textarea-wrapper" style="margin-right: 25px">
                        <textarea class="option-textarea"
                                  asp-for="@Model.Answers[1].AnswerText"
                                  required></textarea>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question3">
                    <button type="button" class="option-btn" data-option="C">C</button>
                    <div class="option-textarea-wrapper">
                        <textarea class="option-textarea" asp-for="@Model.Answers[2].AnswerText"></textarea>
                    </div>
                    <button type="button"
                            class="close-btn"
                            onclick="removeQuestion(this)">
                        X
                    </button>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question4">
                    <button type="button" class="option-btn" data-option="D">D</button>
                    <div class="option-textarea-wrapper">
                        <textarea class="option-textarea" asp-for="@Model.Answers[3].AnswerText"></textarea>
                    </div>
                    <button type="button"
                            class="close-btn"
                            onclick="removeQuestion(this)">
                        X
                    </button>
                </div>
            </div>
            <div class="option">
                <div class="option-input-wrapper" id="question5">
                    <button type="button" class="option-btn" data-option="E">E</button>
                    <div class="option-textarea-wrapper">
                        <textarea class="option-textarea" asp-for="@Model.Answers[4].AnswerText"></textarea>
                    </div>
                    <button type="button"
                            class="close-btn"
                            onclick="removeQuestion(this)">
                        X
                    </button>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-info" style="float: right" onclick="addQuestion()">
                    Cevap Ekle
                </button>
            </div>
        </div>
        <input type="hidden"
               id="selected-answer"
               asp-for="@Model.TrueAnswer.AnswerText"
               required />
        <br /><br />
        <input type="submit" value="Soruyu Kaydet" />
    </form>


</div>
<script type="text/javascript">
    const optionButtons = document.querySelectorAll(".option-btn");
    let questionsDiv = document.querySelectorAll(
        `#question1,#question2,#question3,#question4,#question5`
    );
    for (i = 3; i < 5; i++) {
        questionsDiv[i].style.display = "none";
    }

    let addQuestion = () => {
        let control = false;
        for (i = 0; i < 5; i++) {
            if (questionsDiv[i].style.display === "none") {
                questionsDiv[i].style.display = "";
                control = true;
                break;
            }
        }
        if (!control) {
            const errorDiv = document.getElementById("error-message");
            errorDiv.innerHTML = "En fazla 5 cevap ekleyebilirsiniz.";
        }
    };

    function removeQuestion(btn) {
        const questionDiv = btn.parentNode;
        const textarea = questionDiv.querySelector(".option-textarea");
        const selectedButton = document.querySelector(
            `.option-btn.selected[data-option="${btn.previousElementSibling.dataset.option}"]`
        );
        // let button= questionDiv.querySelector(".option-btn");
        let buttonIsSelected = questionDiv.querySelector(
            ".option-btn.selected"
        );
        if (buttonIsSelected != null) {
            document.getElementById("selected-answer").value = "";
            buttonIsSelected.classList.remove("selected");
        }
        textarea.value = "";
        questionDiv.style.display = "none";
    }
    let selectedAnswerDiv;
    optionButtons.forEach((button) => {
        button.addEventListener("click", () => {
            // Tüm şık butonlarının seçim durumunu kaldır
            optionButtons.forEach((button) => {
                button.classList.remove("selected");
            });

            // Seçilen şık butonuna seçildiğini işaretle
            button.classList.add("selected");
            const selectedAnswerInput = document.getElementById("selected-answer");
            selectedAnswerDiv = button.parentNode;

            // Seçilen şık butonunun verisini sakla
            selectedAnswerInput.value = selectedAnswerDiv.querySelector(".option-textarea").value;
        });

        // Formu sunucuya göndermeden önce, doğru cevabın seçildiğinden emin ol
        
    });
    const form = document.getElementById("test-form");
    form.addEventListener("submit", (event) => {
        const selectedAnswerInput =
            document.getElementById("selected-answer");
        let buttonIsSelected = document.querySelector(".option-btn.selected");
        console.log(buttonIsSelected)
        let selectedDiv;
        if (buttonIsSelected != null) {
            selectedDiv = buttonIsSelected.parentNode;
        } else {
            event.preventDefault();
            return false;
        }
        console.log(selectedDiv.querySelector(".option-textarea").value);
        selectedAnswerInput.value = selectedDiv.querySelector(".option-textarea").value;
        if (selectedAnswerInput.value === "") {
            // alert("Lütfen doğru cevabı seçin.");
            event.preventDefault();
            return false;
        } else if (
            selectedDiv.querySelector(".option-textarea").value === "" || selectedDiv.querySelector(".option-textarea").value === null
        ) {
            // alert("Doğru cevap alanını boş bırakamazsınız");
            event.preventDefault();
            return false;
        }

    });
</script>
