@model List<QuestionDTO>
<link href="~/css/textbox.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@{
    ViewData["Title"] = "Sorularım";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (ViewBag.Error != null)
{
    <h3 class="dikkat">@ViewBag.Error</h3>
}
<form>

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="row mt-12">
            <div class="col-md-1">
                <input asp-for="@Model[i].Check" type="checkbox" form="GeneralForm" id="questcb">
                <span>@(i + 1) Soru</span>
            </div>
            <div class="col-md-9">
<<<<<<< HEAD
                <h6 rows="3" style="min-height:15px;">
                    @Model[i].Question
                </h6>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-info" type="button" id="mod_@i" onclick="question(@i)">Cevapları Görüntüle</button>
=======
                <textarea class="form-control"  id="Aanswer_@i"
                    aria-label="Example text with button addon" aria-describedby="button-addon1" hidden="hidden">
                    @Model[i].Answers[j].AnswerText
                </textarea>
>>>>>>> 1807b3dbddbaf626b01412e020cc066f7035877f
            </div>
        </div>
        for (int j = 0; j < Model[i].Answers.Count; j++)
        {
            string optionName = "";
            if (j == 0)
            {
                optionName = "A";
            }
            else if (j == 1)
            {
                optionName = "B";
            }
            else if (j == 2)
            {
                optionName = "C";
            }
            else if (j == 3)
            {
                optionName = "D";
            }
            else if (j == 4)
            {
                optionName = "E";
            }

            <div class="row mt-12">
                <div class="col-md-1"></div>
                <div class="col-md-9" id="AAmod_@i" hidden="hidden">
                    <span>@optionName ) </span>
                    <span id="Amod_@i">@Model[i].Answers[j].AnswerText</span>
                </div>
            </div>
        }
        <hr />
    }
    <button class="btn btn-success" onclick="check()" data-bs-toggle="modal" data-bs-target="#createTestModal" type="button">Seçilen Öğelerden Test Oluştur</button>
    <div class="modal fade" id="createTestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Test Oluşturuluyor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <strong id="bb"> Seçtiğiniz Testin Adını Belirleyin</strong>
                    <input type="text" form="GeneralForm" asp-for=@Model[0].TestName id="testName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="createTestButton" form="GeneralForm" class="btn btn-primary" asp-controller="Test" asp-action="CreateTest" formmethod="post">Test Oluştur</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/allQuestions.js"></script>

