@model (List<QuestionDTO> Question,TestDTO Test)
<link href="~/css/textbox.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/allQuestions.js"></script>
@{
    ViewData["Title"] = "Sorularım";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (ViewBag.Error != null)
{
    <h3 class="dikkat">@ViewBag.Error</h3>
}
<form form="GeneralForm" asp-controller="Test" asp-action="CreateTest" formmethod="post">

    @for (int i = 0; i < Model.Question.Count; i++)
    {
        <div class="row mt-12">
            <div class="col-md-1">
                <input asp-for="@Model.Question[i].Check" type="checkbox" id="questcb">
                <input asp-for="@Model.Question[i].Id" hidden>
                <span>@(i + 1) Soru</span>
            </div>
            <div class="col-md-9">
                <h6 rows="3" style="min-height:15px;">
                    @Model.Question[i].Question
                </h6>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-info" type="button" id="mod_@i" onclick="question(@i)">Cevapları Görüntüle</button>

            </div>
        </div>
        for (int j = 0; j < Model.Question[i].Answers.Count; j++)
        {
            string optionName = "";
            if (j == 0)
            {
                optionName = "A";
            }
            else if (j == 1)
            {
                optionName = "B";
            }
            else if (j == 2)
            {
                optionName = "C";
            }
            else if (j == 3)
            {
                optionName = "D";
            }
            else if (j == 4)
            {
                optionName = "E";
            }

            <div class="row mt-12">
                <div class="col-md-1"></div>
                <div class="col-md-9" id="AAmod_@i" hidden="hidden">
                    @if (Model.Question[i].Answers[j].IsCorrect)
                    {
                        <span style="color:green">@optionName ) </span>
                    }
                    else
                    {
                        <span>@optionName ) </span>
                    }
                    <span id="Amod_@i">@Model.Question[i].Answers[j].AnswerText</span>
                </div>
            </div>
        }
        <hr />
    }
    @if (Model.Question.Any())
    {
        
    <button class="btn btn-success" onclick="check()" data-toggle="modal" data-target="#createTestModal" type="button">Seçilen Öğelerden Test Oluştur</button>

    <div class="modal fade" id="createTestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Test Oluşturuluyor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align:center">
                    <strong id="bb"> Oluşturduğunuz Testin Adını Belirleyin</strong>
                    <br />
                    <input type="text" asp-for=@Model.Test.Name id="testName">
                    <br />
                    <strong id="bb">Kategori Seçiniz</strong>
                    <br />
                    <select asp-for="@Model.Test.TestCategoryDescription" asp-items="ViewBag.genderList" class="form-control">
                        <option value="">Kategori Seçiniz</option>
                    </select>
                    <span asp-validation-for="@Model.Test.Name" class="text-danger"></span>
                    <span asp-validation-for="@Model.Test.TestCategorys" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="createTestButton" class="btn btn-primary">Test Oluştur</button>
                </div>
            </div>
        </div>
        </div>
    }
    else
    {
        <h4>Sorunuz bulunmamaktadır.</h4>
    }
</form>