@model (List<QuestionDTO> questionDTOs,TestDTO test)
<link href="~/css/textbox.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/allQuestions.js"></script>
@{
    ViewData["Title"] = "Sorularım";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@if (ViewBag.Error != null)
{
    <br />
    <h3 class="dikkat">@ViewBag.Error</h3>
}
else if (TempData["QuestionError"] != null)
{
    <br />
    <h3 class="dikkat">@TempData["QuestionError"]</h3>
}
<form id="GeneralForm" formmethod="post"></form>
    <br />
<button class="btn btn-success" onclick="check()" data-toggle="modal" data-target="#createTestModal" type="button">Seçilen Öğelerden Test Oluştur</button>
    <br />
    @for (int i = 0; i < Model.questionDTOs.Count; i++)
    {
        <div class="row mt-12">
            <div class="col-md-1">
            <input form="GeneralForm" asp-for="@Model.questionDTOs[i].Id" hidden>
            <input type="checkbox" form="GeneralForm" asp-for="@Model.questionDTOs[i].Check" >
                <span>@(i + 1) Soru</span>
            </div>
            <div class="col-md-9">
                <h6 rows="3" style="min-height:15px;">
                    @Model.questionDTOs[i].Question
                </h6>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-info" type="button" id="mod_@i" onclick="question(@i)">Cevapları Görüntüle</button>

            </div>
        </div>
        for (int j = 0; j < Model.questionDTOs[i].Answers.Count; j++)
        {
            string optionName = "";
            if (j == 0)
            {
                optionName = "A";
            }
            else if (j == 1)
            {
                optionName = "B";
            }
            else if (j == 2)
            {
                optionName = "C";
            }
            else if (j == 3)
            {
                optionName = "D";
            }
            else if (j == 4)
            {
                optionName = "E";
            }

            <div class="row mt-12">
                <div class="col-md-1"></div>
                <div class="col-md-9" id="AAmod_@i" hidden="hidden">
                    @if (Model.questionDTOs[i].Answers[j].IsCorrect)
                    {
                        <span style="color:green">@optionName ) </span>
                    }
                    else
                    {
                        <span>@optionName ) </span>
                    }
                    <span id="Amod_@i">@Model.questionDTOs[i].Answers[j].AnswerText</span>
                </div>
            </div>
        }
        <hr />

    }

    @if (Model.questionDTOs.Any())
    {

        <button class="btn btn-success" onclick="check()" data-toggle="modal" data-target="#createTestModal" type="button">Seçilen Öğelerden Test Oluştur</button>

        <div class="modal fade" id="createTestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Test Oluşturuluyor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <strong id="bb"> Oluşturduğunuz Testin Adını Belirleyin</strong>
                        <br />
                    <input style="text-align:center" form="GeneralForm" type="text" asp-for=@Model.test.Name id="testName">
                        <br />
                        <strong id="bb">Kategori Seçiniz</strong>
                        <br />
                    <select form="GeneralForm" asp-for="@Model.test.TestCategoryDescription" asp-items="ViewBag.genderList" class="form-control">
                            <option value="">Kategori Seçiniz</option>
                        </select>
                        <span asp-validation-for="test.Name" class="text-danger"></span>
                        <span asp-validation-for="test.TestCategorys" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" form="GeneralForm" asp-controller="Test" asp-action="CreateTest" formmethod="post" id="createTestButton" class="btn btn-primary">Test Oluştur</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>Sorunuz bulunmamaktadır.</h4>
    }