@using QuickQuiz.Core.Models;
@model (List<ExamResult> examResults,string currentUser)
@{
    ViewData["Title"] = "Result";
    Layout = null;
}

<style>
    .genel {
        margin-top: 3.75rem !important;
    }

    .sonuc {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1b2b5b;
        font-family: verdana, sans-serif;
    }

    .table {
        background-color: #313645;
        color: #ced8e1 !important;
    }

    .card-headerresult {
        background-color: #313645;
    }

    .card-headertitle {
        background-color: #b1d5f5;
        text-align: center;
        padding: 20px;
    }

</style>

<title>Quick Quiz | </title>

<link href="~/adminkit-3.1.0/static/css/app.css" rel="stylesheet">

<div class="row sonuc">
    <div class="col-12 col-lg-8 col-xxl-9 d-flex genel">
        <div class="card flex-fill">
            <div class="card-headerresult">
                <h1 class="card-headertitle mb-0">Sonuçlar</h1>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th>Sıralama</th>
                        <th class="d-none d-xl-table-cell">Kullanıcı Adı</th>
                        <th>Skor</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int removedResult = 0;
                    }
                    @for (int i = 0; i < Model.examResults.Count; i++)
                    {
                        if (Model.examResults[i].Result == null) { removedResult++; continue; }
                        <tr>
                            @if (@Model.examResults[i]?.Student != null)
                            {
                                if (!string.IsNullOrEmpty(Model.currentUser) && Model.currentUser == Model.examResults[i].Student.UserName)
                                {
                                    <td style="color:red">@(i + 1 - removedResult)</td>
                                    <td style="color:red" class="d-none d-xl-table-cell">@Model.examResults[i].Student.UserName</td>
                                }
                                else
                                {
                                    <td>@(i + 1 - removedResult)</td>
                                    <td class="d-none d-xl-table-cell">@Model.examResults[i].Student.UserName</td>
                                }
                            }
                            else
                            {

                                <td>@(i + 1 - removedResult)</td>
                                <td class="d-none d-xl-table-cell">@(Model.examResults[i].VisitorName != null ? Model.examResults[i].VisitorName : "Misafir Kullanıcı")</td>
                            }
                            <td><span class="badge bg-success">@Model.examResults[i].Result</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-secondary col-md-3 mb-5" asp-action="Index" asp-controller="Home">Anasayfaya dön</a>
</div>

<script src="~/adminkit-3.1.0/static/js/app.js"></script>