@using QuickQuiz.Core.Models;
@model List<ExamResult>
@{
    ViewData["Title"] = "Result";
    Layout = null;
}

<style>
    .genel {
        margin-top: -9.75rem !important;
    }

    .sonuc {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #313645;
        font-family: verdana, sans-serif;
    }

    .table {
        background-color: #313645;
        color: #ced8e1 !important;
    }

    .card-header {
        background-color: #313645;
    }

</style>

<title>Quick Quiz | </title>

<link href="~/adminkit-3.1.0/static/css/app.css" rel="stylesheet">

<div class="row sonuc">
    <div class="col-12 col-lg-8 col-xxl-9 d-flex genel">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Sonuçlar</h5>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th>Sıralama</th>
                        <th class="d-none d-xl-table-cell">Kullanıcı Adı</th>
                        <th>Skor</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            @if (@Model[i]?.Student != null)
                            {
                                <td class="d-none d-xl-table-cell">@Model[i].Student.UserName</td>
                            }
                            else
                            {
                                <td class="d-none d-xl-table-cell">@(Model[i].VisitorName != null ? Model[i].VisitorName : "Misafir Kullanıcı")</td>
                            }


                            
                            <td><span class="badge bg-success">@Model[i].Result</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-secondary col-md-3" asp-action="Index" asp-controller="Home">Anasayfaya dön</a>
</div>

<script src="~/adminkit-3.1.0/static/js/app.js"></script>