@model (TestDTO testDTO,string visitorName,string rating)
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizCK | @Model.testDTO.Name</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&amp;display=swap">
    <link rel="stylesheet" href="~/css/testrating.css">
</head>
<body>
    <div class="progress">
        <div class="progress--bar"></div>
    </div>

    <h1 id="title">@Model.testDTO.Name</h1>
    <div class="questionArea">
        <form id="myForm" form="myForm" asp-controller="Quiz" asp-action="Result" method="post">

            <input asp-for="@Model.testDTO.Id" name="Id" hidden />
            <input id="ratingPointInput" asp-for="@Model.rating" value="0" name="rating" hidden />
            <input asp-for="@Model.visitorName" value="@Model.visitorName" name="visitorName" hidden />
            @for (int i = 0; i < Model.testDTO.Question.Count; i++)
            {
                <input id="answer_@i" value="0" asp-for="@Model.testDTO.Question[i].TrueAnswer.AnswerText" name="Question[@i].TrueAnswer.AnswerText" hidden />
                <input id="quest_@i" value="0" asp-for="@Model.testDTO.Question[i].Question" name="Question[@i].Question" hidden />
                <input id="id_@i" value="0" asp-for="@Model.testDTO.Question[i].Id" name="Question[@i].Id" hidden />
            }
            @*<button id="but"  type="submit" style="display:none">Testi Bitir</button>*@
            <div class="rating" id="ratingArea" style="display:none">
                <div class="rating-head">
                    <p>Testi Beğendiniz Mi? </p>
                </div>
                <div data-rating="0" class="rating-emoji">🎯</div>
                <div data-rating="1" class="rating-emoji" hidden="true">🤮</div>
                <div data-rating="2" class="rating-emoji" hidden="true">😕</div>
                <div data-rating="3" class="rating-emoji" hidden="true">😐</div>
                <div data-rating="4" class="rating-emoji" hidden="true">😊</div>
                <div data-rating="5" class="rating-emoji" hidden="true">🥰</div>
                <div class="rating__stars">

                    <input id="rating-1" class="rating__input rating__input-1" type="radio" name="rating" value="1">
                    <input id="rating-2" class="rating__input rating__input-2" type="radio" name="rating" value="2">
                    <input id="rating-3" class="rating__input rating__input-3" type="radio" name="rating" value="3">
                    <input id="rating-4" class="rating__input rating__input-4" type="radio" name="rating" value="4">
                    <input id="rating-5" class="rating__input rating__input-5" type="radio" name="rating" value="5">
                    <label class="rating__label" for="rating-1">
                        <svg class="rating__star" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
                            <g transform="translate(16,16)">
                                <circle class="rating__star-ring" fill="none" stroke="#000" stroke-width="16" r="8" transform="scale(0)" />
                            </g>
                            <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <g transform="translate(16,16) rotate(180)">
                                    <polygon class="rating__star-stroke" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="none" />
                                    <polygon class="rating__star-fill" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="#000" />
                                </g>
                                <g transform="translate(16,16)" stroke-dasharray="12 12" stroke-dashoffset="12">
                                    <polyline class="rating__star-line" transform="rotate(0)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(72)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(144)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(216)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(288)" points="0 4,0 16" />
                                </g>
                            </g>
                        </svg>
                        <span class="rating__sr">1 star—Terrible</span>
                    </label>
                    <label class="rating__label" for="rating-2">
                        <svg class="rating__star" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
                            <g transform="translate(16,16)">
                                <circle class="rating__star-ring" fill="none" stroke="#000" stroke-width="16" r="8" transform="scale(0)" />
                            </g>
                            <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <g transform="translate(16,16) rotate(180)">
                                    <polygon class="rating__star-stroke" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="none" />
                                    <polygon class="rating__star-fill" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="#000" />
                                </g>
                                <g transform="translate(16,16)" stroke-dasharray="12 12" stroke-dashoffset="12">
                                    <polyline class="rating__star-line" transform="rotate(0)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(72)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(144)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(216)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(288)" points="0 4,0 16" />
                                </g>
                            </g>
                        </svg>
                        <span class="rating__sr">2 stars—Bad</span>
                    </label>
                    <label class="rating__label" for="rating-3">
                        <svg class="rating__star" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
                            <g transform="translate(16,16)">
                                <circle class="rating__star-ring" fill="none" stroke="#000" stroke-width="16" r="8" transform="scale(0)" />
                            </g>
                            <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <g transform="translate(16,16) rotate(180)">
                                    <polygon class="rating__star-stroke" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="none" />
                                    <polygon class="rating__star-fill" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="#000" />
                                </g>
                                <g transform="translate(16,16)" stroke-dasharray="12 12" stroke-dashoffset="12">
                                    <polyline class="rating__star-line" transform="rotate(0)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(72)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(144)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(216)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(288)" points="0 4,0 16" />
                                </g>
                            </g>
                        </svg>
                        <span class="rating__sr">3 stars—OK</span>
                    </label>
                    <label class="rating__label" for="rating-4">
                        <svg class="rating__star" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
                            <g transform="translate(16,16)">
                                <circle class="rating__star-ring" fill="none" stroke="#000" stroke-width="16" r="8" transform="scale(0)" />
                            </g>
                            <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <g transform="translate(16,16) rotate(180)">
                                    <polygon class="rating__star-stroke" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="none" />
                                    <polygon class="rating__star-fill" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="#000" />
                                </g>
                                <g transform="translate(16,16)" stroke-dasharray="12 12" stroke-dashoffset="12">
                                    <polyline class="rating__star-line" transform="rotate(0)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(72)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(144)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(216)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(288)" points="0 4,0 16" />
                                </g>
                            </g>
                        </svg>
                        <span class="rating__sr">4 stars—Good</span>
                    </label>
                    <label class="rating__label" for="rating-5">
                        <svg class="rating__star" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
                            <g transform="translate(16,16)">
                                <circle class="rating__star-ring" fill="none" stroke="#000" stroke-width="16" r="8" transform="scale(0)" />
                            </g>
                            <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <g transform="translate(16,16) rotate(180)">
                                    <polygon class="rating__star-stroke" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="none" />
                                    <polygon class="rating__star-fill" points="0,15 4.41,6.07 14.27,4.64 7.13,-2.32 8.82,-12.14 0,-7.5 -8.82,-12.14 -7.13,-2.32 -14.27,4.64 -4.41,6.07" fill="#000" />
                                </g>
                                <g transform="translate(16,16)" stroke-dasharray="12 12" stroke-dashoffset="12">
                                    <polyline class="rating__star-line" transform="rotate(0)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(72)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(144)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(216)" points="0 4,0 16" />
                                    <polyline class="rating__star-line" transform="rotate(288)" points="0 4,0 16" />
                                </g>
                            </g>
                        </svg>
                        <span class="rating__sr">5 stars—Excellent</span>
                    </label>
                    <div class="rating__display">
                        <p data-rating="1" hidden>Berbat</p>
                        <p data-rating="2" hidden>Kötü</p>
                        <p data-rating="3" hidden>Orta</p>
                        <p data-rating="4" hidden>Güzel</p>
                        <p data-rating="5" hidden>Mükemmel</p>
                    </div>
                </div>
                <br><br>
                <div style="text-align: center;">
                    <button type="submit" class="finishExamButton">
                        Testi Sonlandır
                    </button>
                </div>
            </div>
            @* <button class="custom-btn btn-12" type="submit" id="ratingAreaBut" style="display:none;"><span>Sonlandır</span><span>Testi Sonlandır</span></button> *@
        </form>
        <!-- Form alanları ve diğer içerikler -->
        <div id="que" class="question">...</div>
        <div id="opt" class="options">
        </div>
    </div>

    <div class="scoreArea">
        <img src="https://img.icons8.com/color/96/26e07f/checked--v4.png" class="prizeImage" />
        <p>Finish!</p>
        <hr />
        <div class="scoreText1">--</div>
        <div class="scorePct">--</div>
        <div class="scoreText2">--</div>
        <button>Retry</button>
    </div>
    <script charset="UTF-8">
        let questions = [
        @for (int i = 0; i < Model.testDTO.Question.Count; i++)
        {
            <text>
                {
                    Id: '@Model.testDTO.Question[i].Id',
                    question: '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.testDTO.Question[i].Question))',
                    options: [
                        @for (int j = 0; j < Model.testDTO.Question[i].Answers.Count; j++)
                        {
                            // <text>'@Model.testDTO.Question[i].Answers[j].AnswerText', </text>
                    <text>'@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.testDTO.Question[i].Answers[j].AnswerText))', </text>
                        }
                    ],
                },
            </text>
        }];
        console.log(questions)
        const progressBar = document.querySelector(".progress--bar");
        const questionArea = document.querySelector(".questionArea");
        const scoreArea = document.querySelector(".scoreArea");
        const scoreText1 = document.querySelector(".scoreText1");
        const scorePct = document.querySelector(".scorePct");

        //initial data
        let currentQuestion = 0;
        let correctAnswers = 0;
        let selectedAnswers = [];

        showQuestion();

        //reset event
        document.querySelector(".scoreArea button").addEventListener("click", () => {
            currentQuestion = 0;
            correctAnswers = 0;
            showQuestion();
        });

        //Functions
        function showQuestion() {
            if (questions[currentQuestion]) {
                let q = questions[currentQuestion];

                let progress = Math.floor((currentQuestion / questions.length) * 100);
                progressBar.style.width = `${progress}%`;

                scoreArea.style.display = "none";
                questionArea.style.display = "block";

                document.querySelector(".question").innerHTML = q.question;

                let optionsHtml = "";

                for (let i in q.options) {
                    optionsHtml += `<div data-op="${i}" class="option"><span> ${parseInt(i) + 1
                        }</span> ${q.options[i]}</div>`;
                }

                document.querySelector(".options").innerHTML = optionsHtml;

                document.querySelectorAll(".options .option").forEach((item) => {
                    item.addEventListener("click", optionsClickEvent);
                });
            } else {
                finishQuiz();
            }
        }


        function optionsClickEvent(e) {
            let clickedOption = parseInt(e.target.getAttribute("data-op"));
            let quesId = "quest_" + currentQuestion;
            let answerId = "answer_" + currentQuestion;
            let id = "id_" + currentQuestion;
            document.getElementById(id).value = questions[currentQuestion].Id;
            document.getElementById(quesId).value = questions[currentQuestion].question;
            document.getElementById(answerId).value = questions[currentQuestion].options[clickedOption];

            if (questions[currentQuestion].answer === clickedOption) {
                correctAnswers++;
            }
            let selectedAnswer = {
                question: questions[currentQuestion].question,
                selectedOption: questions[currentQuestion].options[clickedOption]
            };
            selectedAnswers.push(selectedAnswer);

            currentQuestion++;
            showQuestion();

        }

        function finishQuiz() {
            progressBar.style.width = `${100}%`;
            let quest = document.getElementById("que")
            let option = document.getElementById("opt")
            let title = document.getElementById("title")
            let ratingArea = document.getElementById("ratingArea")
            quest.style.display = "none";
            option.style.display = "none";
            title.style.display = "none";
            ratingArea.style.display = "block";
        }
    </script>
    <script src="~/js/testrating.js"></script>
</body>

</html>