@model List<UserViewModel>
@{
    ViewData["Title"] = "UserSearch";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>

    .sonuc {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #313645;
        font-family: verdana, sans-serif;
    }

    .table {
        background-color: #313645;
        color: #ced8e1 !important;
    }

    .card-header {
        background-color: #313645;
    }

</style>

<title>Quick Quiz | Kullanıcı Ara</title>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="row">
        <a asp-action="UserProfile" asp-controller="Member" asp-route-username="@Model[@i].UserName">
            <user-card name="@Model[i].UserName" class="col-md-6" avatar="https://localhost:44333/userpictures/@Model[i].PictureUrl">
                <div slot="email">@Model[i].Email</div>
                <div slot="phone">@Model[i].PhoneNumber</div>
            </user-card>
        </a>
    </div>
    @if (i + 1 != Model.Count)
    {
        <div class="row">
            @{
                i++;
            }
            <a asp-action="UserProfile" asp-controller="Member" asp-route-username="@Model[@i].UserName">
                <user-card name="@Model[i].UserName" class="col-md-6" avatar="https://localhost:44333/userpictures/@Model[i].PictureUrl">
                    <div slot="email">@Model[i].Email</div>
                    <div slot="phone">@Model[i].PhoneNumber</div>
                </user-card>
            </a>
        </div>
    }
}

<script>
    function submitForm(i) {
        var form = document.getElementById(`UserProfile_${i}`);
        form.submit();
    }
    const template = document.createElement('template');
    template.innerHTML = `
                                                          <style>
                                                          .user-card {
                                                                font-family: 'Arial', sans-serif;
                                                                background: #f4f4f4;
                                                                width: 500px;
                                                                display: grid;
                                                                grid-template-columns: 1fr 2fr;
                                                                grid-gap: 10px;
                                                                margin-bottom: 15px;
                                                                border-bottom: #6f6872 5px solid;
                                                            }

                                                            .user-card img {
                                                                width: 100%;
                                                            }

                                                            .user-card button {
                                                                cursor: pointer;
                                                                background: #6f6872;
                                                                color: #fff;
                                                                border: 0;
                                                                border-radius: 5px;
                                                                padding: 5px 10px;
                                                            }
                                                          </style>
                                                          <div class="user-card">
                                                            <img />
                                                            <div>
                                                              <h3></h3>
                                                              <div class="info">
                                                                <p><slot name="email" /></p>
                                                                <p><slot name="phone" /></p>
                                                              </div>
                                                              <button id="toggle-info">Bilgileri Gizle</button>
                                                            </div>
                                                          </div>
                                                        `;

    class UserCard extends HTMLElement {
        constructor() {
            super();

            this.showInfo = true;

            this.attachShadow({ mode: 'open' });
            this.shadowRoot.appendChild(template.content.cloneNode(true));
            this.shadowRoot.querySelector('h3').innerText = this.getAttribute('name');
            this.shadowRoot.querySelector('img').src = this.getAttribute('avatar');
        }

        toggleInfo() {
            this.showInfo = !this.showInfo;

            const info = this.shadowRoot.querySelector('.info');
            const toggleBtn = this.shadowRoot.querySelector('#toggle-info');

            if (this.showInfo) {
                info.style.display = 'block';
                toggleBtn.innerText = 'Bilgileri Gizle';
            } else {
                info.style.display = 'none';
                toggleBtn.innerText = 'Bilgileri Göster';
            }
        }

        connectedCallback() {
            this.shadowRoot.querySelector('#toggle-info').addEventListener('click', () => this.toggleInfo());
        }

        disconnectedCallback() {
            this.shadowRoot.querySelector('#toggle-info').removeEventListener();
        }
    }

    window.customElements.define('user-card', UserCard);
</script>